@model IPagedList<Demo.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList.Mvc;
@using PagedList;

<h2 style="align-content:center">Product</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Created_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Updated_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Direction)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (item.image != null)
            {
                for (int i = 0; i < item.image.Count; i++)
                {
                    <td>
                        <img src="@item.image[i].Link" style="height:50px; width:50px" />
                    </td>
                    break;
                }
            }
            else
            {
                <td>
                    <img style="height:50px; width:50px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSu2jIP0U5hChQm-vP8D0zvhbh5J0IIKPD2rA&usqp=CAU" />
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direction)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id = item.ID }) |
                @Html.ActionLink("Detail", "Detail", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, pg => Url.Action("Index", "Home", new { pg }))